/*Container*/
#landing-container {
    width: 100vw;
    height: 100vh;
}


.landing-background {
    width: 100%;
    height: 100%;
    background-image: url('https://s3.us-east-2.amazonaws.com/austin-rowe/landing-port-gray.jpg');
    filter: grayscale(100%) brightness(70%);
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
}

.landing-quote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 1.3em;
}

@media(min-width: 550px) {
    .landing-background{
        background-image: url('https://s3.us-east-2.amazonaws.com/austin-rowe/landing_land_gray.JPG');
    }

    .landing-quote {
        font-size: 2em;
    }
}
