*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: rgb(230, 230, 230);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

a {
    text-decoration: none;
}