#about-container {
    text-align: center;
}

#about-title {
    font-size: 3em;
}

.about-header {
    font-size: 2em;
}

.about-text {
    font-size: 1.5em;
    margin: 0 10vw 30px;
}

.about-pic {
    max-width: 70vw;
    max-height: 85vh;
    margin: 10px auto;
    border-radius: 100px;
    border: 2px solid black;
    filter: grayscale(100%);
}