#contact-container {
    margin: 50px auto;
    text-align: center;
}

#contact-title{
    font-size: 2.5em;
}

.social-icon {
    margin: 15px 5px;
    transition-duration: .3s;
}

.social-icon:hover {
    transform: scale(1.2) rotate(360deg);
}

.contact-link-container{
    margin: 15px auto;
    max-width: 95vw;
}

.contact-link * {
    display: inline;
}

.contact-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    transition-duration: .3s;
}

.contact-link:hover .contact-icon {
    transform: scale(1.3) rotate(360deg);
}

.contact-text {
    font-size: 27px;
    color: black;
}

#contact-pic {
    width: 80vw;
    margin: 0 auto;
    filter: grayscale(100%);
    border-radius: 100%;
    border: 2px solid black;
}

@media(max-width: 380px) {
    .contact-text{
        font-size: 20px;
    }
}

@media(min-width: 850px) {
    .contact-link-container {
        display: inline;
        margin: 0 10px;
    }
}