/* Menu */
#menu {
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 2;
}

.menu-option {
    background-color: black;
    color: white;
    margin: 0;
    height: 40px;
    padding-top: 10px;
    border: 1px solid white;
}

.menu-option:hover {
    transform: scale(1.1);
}

.sub-menu-option {
    background-color: white;
    color: black;
    margin: 0;
    height: 40px;
    padding-top: 15px;
    border: 1px solid black;
    display: none;
}

.sub-menu-option:hover{
    transform: scale(1.1);
}

.contact-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.contact-icon:hover {
    transform: scale(1.3) rotate(360deg);
}

.contact-text {
    display: inline;
}

.sub-menu-option:hover .contact-icon {
    transform: scale(1.3) rotate(360deg);
}

#contact-link:hover .sub-menu-option{
    display: block;
}

.menu-link {
    position: relative;
    left: 100vw;
    z-index: 2;
}

.visible {
    animation: slide-in 500ms;
    position: relative;
    left: 0;
    z-index: 2;
}

.hidden {
    animation: slide-out 500ms;
}

@keyframes slide-in{
    from{
        position: relative;
        left: 100vw;
    }
    to{
        position: relative;
        left: 0;
    }
}

@keyframes slide-out{
    0%{
        position: relative; 
        left: 0;
    }
    25%{
        position: relative;
        left: 25vw;
    }
    50%{
        position: relative;
        left: 60vw;
    }
    75% {
        position: relative;
        left: 85vw;
    }
    100% {
        position: relative;
        left: 100vw;
    }
}


/*Drop-Down Toggle */
#drop-down-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 3;
}

#drop-down-toggle:hover {
    cursor: pointer;
}

.drop-down-toggle-bar {
    width: 30px;
    height: 5px;
    background: white;
    border: solid black 1px;
    margin-top: 5px;
    border-radius: 25%;
}