/* Menu */
.menu {
    text-align: center;
    position: fixed;
    top: 0px;
    left: 100vw;
    width: 100vw;
    z-index: 2;
}

/* Menu Option */



.visible {
    animation: slide-in 500ms;
    position: fixed;
    left: 0;
    z-index: 2;
}

.hidden {
    animation: slide-out 500ms;
}

@keyframes slide-in{
    from{
        position: fixed;
        left: 100vw;
    }
    to{
        position: fixed;
        left: 0;
    }
}

@keyframes slide-out{
    0%{
        position: fixed; 
        left: 0;
    }
    100% {
        position: fixed;
        left: 100vw;
    }
}

/*menu-option*/
.menu-option {
    background: radial-gradient(ellipse at top, black, rgb(46, 46, 46));
    color: white;
    margin: 0;
    height: 40px;
    padding-top: 10px;
    border: 1px solid white;
}

.menu-option:hover {
    background: rgb(51, 51, 51);
}

/*Drop-Down Toggle */
#drop-down-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 3;
}

#drop-down-toggle:hover {
    cursor: pointer;
}

.drop-down-toggle-bar {
    width: 30px;
    height: 5px;
    margin-top: 5px;
    border-radius: 25%;
    background: white;
    border: solid black 1px;
}

